<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('bundles/rm2design/css/style.css') }}" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    </head>
    <body>
        <header>
            <div id="left">
                {% block header_left %}
                    header_left
                {% endblock %}
            </div>
            <div id="right">
                {% block header_right %}
                    header_right
                {% endblock %}
            </div>
        </header>
        <nav>
            {% block nav %}
                <ul>
                    <li><a href="#">nav1</a></li>
                    <li><a href="#">nav2</a></li>
                </ul>
            {% endblock %}
        </nav>
        <section>
            <header>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block content_header %}
                    content_header
                {% endblock %}
            </header>
            {% block content %}
                content
            {% endblock %}
            <footer>
                {% block content_footer %}
                    content_footer
                {% endblock %}
            </footer>
        </section>
        <footer>
            {% block footer %}
                footer
            {% endblock %}
        </footer>
    </body>
</html>