{% extends 'RM2DesignBundle::layout.html.twig' %}

{% block header_left %}
    <h1>Recipe Manager 2</h1>
{% endblock %}

{% block header_right %}
{% endblock %}
 
{% block content_header %}
{% endblock %}
    
{% block content_footer %}
{% endblock %}
    
{% block footer %}
    &copy; RM2
{% endblock %}