{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block content_header %}
    Register
{% endblock %}

{% block fos_user_content %}
    <div id="registration">
        {% include 'FOSUserBundle:Registration:register_content.html.twig' %}
    </div>
{% endblock %}