{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block content_header %}
    <h1>Register</h1>
{% endblock %}

{% block fos_user_content %}
    {% include 'FOSUserBundle:Registration:register_content.html.twig' %}
{% endblock %}